#Author: Barnabas Makonda <barnabasmakonda@gmail.com>
#dataset: Us election results by country

## Numpy, Pandas Practice

    This is the first plactice session of many that I will try to explain what I am up to in practising and learning datascience.

In [1]:
#firts import pandas and numpy
import pandas as pd
import numpy as np

In [77]:
#lets read the csv file to see what we have got.
df = pd.read_csv('us-election-2016-results-by-county.csv')

#print the first five
df.head()

,StateCode,StateName,CountyFips,CountyName,CountyTotalVote,Party,Candidate,VoteCount
0,AK,alaska,2000,Alaska,246588,GOP,Trump,130415.0
1,AL,alabama,1087,Macon,8748,GOP,Trump,1394.0
2,AL,alabama,1131,Wilcox,6095,GOP,Trump,1737.0
3,AL,alabama,1037,Coosa,5223,GOP,Trump,3376.0
4,AL,alabama,1009,Blount,25384,GOP,Trump,22808.0

In [78]:
type(df)

pandas.core.frame.DataFrame

In [79]:
df.columns

Index([u'StateCode', u'StateName', u'CountyFips', u'CountyName',
       u'CountyTotalVote', u'Party', u'Candidate', u'VoteCount'],
      dtype='object')

In [80]:
#lets add another column which shows a percentage

df['Percentage'] = df['VoteCount']/df['CountyTotalVote'] * 100
df.head()

,StateCode,StateName,CountyFips,CountyName,CountyTotalVote,Party,Candidate,VoteCount,Percentage
0,AK,alaska,2000,Alaska,246588,GOP,Trump,130415.0,52.887813
1,AL,alabama,1087,Macon,8748,GOP,Trump,1394.0,15.935071
2,AL,alabama,1131,Wilcox,6095,GOP,Trump,1737.0,28.498769
3,AL,alabama,1037,Coosa,5223,GOP,Trump,3376.0,64.637182
4,AL,alabama,1009,Blount,25384,GOP,Trump,22808.0,89.851875

In [81]:
#lets see the highest win for any candidate

MaxWin = df[df['Percentage'] == np.max(df['Percentage'])]
MaxWin

,StateCode,StateName,CountyFips,CountyName,CountyTotalVote,Party,Candidate,VoteCount,Percentage
2690,TX,texas,48393,Roberts,550,GOP,Trump,524.0,95.272727

In [82]:
#lets see how many candidate and part do we have
print(df['Candidate'].unique())
print(df['Party'].unique())

['Trump' 'Clinton' 'Stein' 'Johnson' 'Castle']
['GOP' 'DEM' 'GRN' 'LIB' 'CST']

In [83]:
#lets see who got less number of vote in a country of all
MinWin = df[df['Percentage'] == np.min(df['Percentage'])]
MinWin

,StateCode,StateName,CountyFips,CountyName,CountyTotalVote,Party,Candidate,VoteCount,Percentage
7747,MS,mississippi,28069,Kemper,4639,GRN,Stein,1.0,0.021556

In [84]:
#lets see the countries where candidates got over 50% votes
greater_than_50 = df[df['Percentage'] > 50]

#print length of those countries
print(len(greater_than_50))

#sample
greater_than_50.head()

2940

,StateCode,StateName,CountyFips,CountyName,CountyTotalVote,Party,Candidate,VoteCount,Percentage
0,AK,alaska,2000,Alaska,246588,GOP,Trump,130415.0,52.887813
3,AL,alabama,1037,Coosa,5223,GOP,Trump,3376.0,64.637182
4,AL,alabama,1009,Blount,25384,GOP,Trump,22808.0,89.851875
5,AL,alabama,1133,Winston,10255,GOP,Trump,9225.0,89.956119
6,AL,alabama,1123,Tallapoosa,18504,GOP,Trump,12967.0,70.076740

In [85]:
#index with stateCode and countName 
df = df.set_index(['StateCode', 'CountyName'])
df.head()

                     StateName  CountyFips  CountyTotalVote Party Candidate  \
StateCode CountyName
AK        Alaska        alaska        2000           246588   GOP     Trump
AL        Macon        alabama        1087             8748   GOP     Trump
          Wilcox       alabama        1131             6095   GOP     Trump
          Coosa        alabama        1037             5223   GOP     Trump
          Blount       alabama        1009            25384   GOP     Trump

                      VoteCount  Percentage
StateCode CountyName
AK        Alaska       130415.0   52.887813
AL        Macon          1394.0   15.935071
          Wilcox         1737.0   28.498769
          Coosa          3376.0   64.637182
          Blount        22808.0   89.851875

In [86]:
#if I want data from countName wilcox in Alabama
df.loc['AL', 'Wilcox']

/Users/barnie/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  from ipykernel import kernelapp as app

                     StateName  CountyFips  CountyTotalVote Party Candidate  \
StateCode CountyName
AL        Wilcox       alabama        1131             6095   GOP     Trump
          Wilcox       alabama        1131             6095   DEM   Clinton
          Wilcox       alabama        1131             6095   GRN     Stein
          Wilcox       alabama        1131             6095   LIB   Johnson
          Wilcox       alabama        1131             6095   CST    Castle

                      VoteCount  Percentage
StateCode CountyName
AL        Wilcox         1737.0   28.498769
          Wilcox         4329.0   71.025431
          Wilcox            7.0    0.114848
          Wilcox           22.0    0.360952
          Wilcox            NaN         NaN